<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>STREAM MESSAGER</title>
    <script src="/maino.js"></script>
    <link rel="icon" href="/Streams.svg" />
    <style>        
        .server {
            color: #fe3e00
        }
        .cli{
            color: #22ff00
        }
    </style>
</head>
<body>
    <noscript>ERR, Activate JS!</noscript>
    <h1>Messager</h1>
    <div>
        <label>Input your Message:</label>
        <input type="text" maxlength="100"/>
        <button>Send</button>
    </div>
    <h2>Log</h2>
    <pre></pre>
</body>
</html>